footer {
    grid-area: footer;
    background: rgb(255,241,241);
    background: linear-gradient(229deg, rgba(255,241,241,1) 12%, rgba(0,0,0,1) 18%, rgba(232,116,194,1) 33%, rgba(5,33,184,1) 58%, rgba(233,121,8,1) 64%, rgba(223,8,8,1) 87%);
    padding: 1em;
    bottom: 0;
    margin-top: auto;
    color: white;
    height: 300px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;
    img {
        width: 40px;
        height: 30px;
        padding-left: 15px;
      }
      .pie{
        bottom: 0;
        margin-top: auto;
        padding-top: 5px;
        text-align: right;
      }
}