footer {
  grid-area: footer;
  background: rgb(255, 241, 241);
  background-color: rgba(20, 20, 153, 0.932);
  padding: 1em;
  bottom: 0;
  margin-top: auto;
  color: white;
  height: 100vh;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 10px;

  .pie {
    bottom: 0;
    margin-bottom: 5px;
    margin-top: auto;
    padding-top: 60px;
    text-align: center;
  }

  .redes {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    .icons {
      display: flex;
      flex-direction: column;
      .icon--list {
        flex-direction: row;
        ul{
          flex-direction: row;
            li {
              list-style: none;
              display: inline-block;
              padding-right: 20px;
              a{
                
                i{
                  color: white;
                }
              }
          }
          



        }
      }


    }
  }
  .sucursales{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    a{
      text-decoration: none;
      color: white;
      padding-top: 15px;
    }
  }
}