footer {
  grid-area: footer;
  background-color: #2d5fa8;
  padding: 1em;
  bottom: 0;
  margin-top: auto;
  color: white;
  height: 110vh;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 10px;

  .sucursales{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
      a{
      text-decoration: none;
      color: white;
      padding-top: 40px;
      }
  }
  
  .pie {
    bottom: 0;
    margin-bottom: 5px;
    margin-top: auto;
    padding-top: 60px;
    text-align: center;
    font-size: 10px;
  }

  .redes {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    .icons {
      display: flex;
      flex-direction: column;
      .icon--list {
        flex-direction: row;
        ul{
          flex-direction: row;
            li {
              list-style: none;
              display: inline-block;
              padding-right: 20px;
              a{
                
                i{
                  color: white;
                }
              }
          }
          



        }
      }


    }
  }

}