@import url("https://fonts.googleapis.com/css2?family=Alegreya&display=swap");
* {
  padding: 0;
  margin: 0; }

body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 100vh;
  font-family: 'Fira Sans Condensed', sans-serif;
  background-image: linear-gradient(0deg, #eca73f 0%, #f1e9d9 100%); }

header {
  background-color: #c0c4c8;
  grid-area: header;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-end;
  max-height: 50px;
  background-image: linear-gradient(90deg, #cfcfcf 0%, rgba(112, 106, 94, 0.661502) 42%, #bbbbbb 100%); }
  header .header {
    text-decoration: none;
    color: #343f4b; }
  header img {
    width: 180px;
    height: 40px; }

aside {
  background-color: #c0c4c8;
  grid-area: menu;
  padding-bottom: 0%; }
  aside .menu {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    text-decoration: none;
    justify-content: center;
    grid-area: menu;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px; }
    aside .menu li {
      padding-right: 20px;
      padding-bottom: 0%; }
      aside .menu li a {
        text-decoration: none;
        list-style: none;
        color: #343f4b; }

footer {
  grid-area: footer;
  background-color: #343f4b;
  padding: 1em;
  bottom: 0;
  margin-top: auto;
  color: white; }
  footer img {
    width: 28px;
    height: 20px;
    padding-left: 10px; }

.header:hover {
  background-color: #343f4b;
  color: orange; }

.barra {
  background-color: #343f4b;
  color: white;
  font-family: 'Alegreya', serif;
  display: flex;
  justify-content: space-between;
  grid-area: barra;
  max-height: 60px; }

ul li a:hover {
  display: flex;
  background-color: #343f4b;
  color: orange;
  transition: 0.5s ease all; }

.contenido {
  grid-area: contenido;
  text-align: center; }

#firma {
  height: 160px;
  width: 160px;
  padding-top: 10px; }

.form {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px; }

input {
  width: 300px; }

textarea {
  width: 300px; }

#enviar {
  display: flex;
  flex-flow: row wrap;
  justify-content: center; }

.ventas {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px; }

.ventas img {
  height: 160px;
  width: 160px; }

.contenido h5 {
  color: red;
  background-color: #c0c4c8; }

.contenido p {
  color: #e2e2e2;
  background-color: black; }

.form-floating input,
select,
button {
  padding-top: 10px;
  padding-bottom: 10px; }

#modelos .col-lg-4 {
  margin: 0;
  padding: 25px; }

#modelos img {
  width: 100%; }

#modelos img:hover {
  transition: all ease 0.8s;
  transform: scale(1.2); }

.modelos {
  display: flex;
  padding-top: 40px;
  padding-bottom: 40px;
  justify-content: space-evenly;
  align-items: center; }

.video {
  display: flex;
  padding-top: 40px;
  padding-bottom: 20px;
  justify-content: space-evenly;
  align-items: center; }

.video iframe {
  height: 300px;
  width: 300px; }

.contenido div {
  padding-top: 0;
  padding-bottom: 5px; }

.form__modelos {
  display: flex;
  justify-content: center; }

.img__form img {
  display: none; }

.banner {
  width: 100%; }

.carousel-inner img {
  height: 400px;
  width: 100%; }

.img__inicio {
  height: 250px;
  width: 250px; }

@media screen and (min-width: 576px) {
  .menu {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    justify-content: space-around; } }

@media screen and (min-width: 900px) {
  .father {
    grid-template-columns: 0.8fr 4fr;
    grid-template-areas: "header header" "barra  barra" "menu   menu" "contenido contenido" "footer footer"; }
  .video iframe {
    width: 400px;
    height: 250px;
    display: flex;
    float: right; }
  #firma {
    height: 250px;
    width: 400px;
    padding-top: 20px; }
  .contenido2 img {
    width: 400px;
    height: 250px; }
  .ventas {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px; }
  .ventas img {
    height: 250px;
    width: 400px; }
  .footer {
    display: flex;
    justify-content: space-between; }
  .formu {
    display: flex;
    flex-direction: row; }
  .form {
    width: 50%; }
  .img__form {
    width: 50%; }
  .img__form img {
    display: flex;
    width: 100%;
    height: 450px;
    padding-left: 20px;
    padding-right: 20px; }
  .img__inicio {
    height: 350px;
    width: 400px; }
  .carousel-inner img {
    height: 500px; } }
